{{#each this}}
<li class="news-item">
    <div class="avatar-user-name"> <a href="./html/profile.html" target="_blank">
        <img class="avatar-image" src={{authorMeta.avatar}} alt="{{authorMeta.nickName}}">
        </a>
 
<p class="user-name-image">{{authorMeta.nickName}}</p></div>
   <div class="hashtags">
  {{#each hashtags}}
 <p class="hashtag-num">#{{name}}</p>
     {{/each}}
   </div>

  <video width="250" controls="controls" class='video' preload="true" autoplay="true" loop="loop" muted="muted" volume="0">
      <source src={{videoUrl}} />
       {{!-- <source src={{webVideoUrl}} type="video/ogg"/> --}}
  </video> <div class="text-wrapper">
  <p class="text">{{text}}</p>
  <p class="likes">Likes: {{authorMeta.heart}}</p>
  <p class="comments">Comments: {{commentCount}}</p>
  </div>

</li>
{{/each}}


